{% extends 'layouts/base.html.twig' %}

{% block title %}Demande
{% endblock %}

{% block body %}

<main>
    
    <div class="row">

        <div class="col-md-6 mx-auto">
        
            <h3 class="mt-3 mb-3 ">{{ demande.titre }} <small>({{ demande.codePostal }})</small></h3>
            <h4 class="mt-2 mb-3 ">Domaine : {{ demande.domaine }}</h4>
            <h5 class="mt-3 mb-3">Contact {{ demande.email }}</h5>
            <p>Téléphone {{ demande.telephone }}</p> 
            
            <p class="pb-3">{{ demande.description }}</p>
            <div class="d-flex w-100 justify-content-between">
                {% if is_granted("ROLE_EMPLOYEUR") %}
                    <a href="mailto: {{ demande.email }}" class="btn btn-warning ">Contactez le demandeur</a>
                {% endif %}
                <a href="{{ path('demandes')}}" class="btn btn-warning">Retour aux demandes</a>
            </div>
        </div>

    </div>
    
</main>

{% endblock %}